<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-buttons class="back-btn" slot="start">
      <ion-button (click)="back()">
        <ion-icon style="color: white;" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>

  <ion-grid class="ion-no-border"  >
    <h3>Expresa su experiencia:</h3>
    <ion-avatar>
      <img [src]="data.img" />
    </ion-avatar>
  </ion-grid>
  </ion-header>
<ion-content>
  
<ion-row class="company-info">
  <ion-col>
    <h3>{{data.name}}</h3>
  </ion-col>
</ion-row>

<rating
size="default"
(ngModelChange)="onModelChange($event)" [(ngModel)]="rating">
</rating>
<div class="inputs">
  <ion-input type="text" placeholder="Asunto"[(ngModel)]="sub"></ion-input>
</div>
<ion-textarea [(ngModel)]="comment" placeholder="Escriba aquí" cols="30" rows="10"></ion-textarea>
<ion-button (click)="onSubmit()" fill="clear" shape="round" class="bottom-button">
  Publicar
</ion-button>
</ion-content>
