ion-content {
    .logo {
        height: auto;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        img {
            height: 130px;
            width: 130px;
            
        
        }
    }
    .main-div {
        
        width: 100%;
        height: auto;
       
       
        position: absolute;
        
        
        ion-title {
            text-align: center;
            margin-top: 5%;
            color: black;
            font-size: 24px;
            font-weight: bolder;
        }
        .inputs-div {
            width: 80%;
            margin-left: 10%;
            margin-top: 15%;
            margin-bottom: 10%;
            ion-input {
                 
                border-bottom: blue 1px solid;
                margin-top: 5%;
            }
            

        }
        ion-button {
            width: 80%;
            height: 40px;
            margin-left: 10%;
            // margin-top: 15%;
            background-color: blue;
            color:white;
            border-radius: 10px;
            text-transform: none;
            margin-bottom: 5%;
        }
        #google-btn{
            width: 80%;
            height: 40px;
            margin-left: 10%;
            // margin-top: 15%;
            background-color: red;
            color:white;
            border-radius: 10px;
            text-transform: none;
            ion-icon{
                margin-left: 10px;
            }
        }
        ion-row {
            margin-top: 5%;
            ion-col {
                ion-label {
                    float: right;
                    ;
                }
            }
        }
        .bottom-text {
            ion-col {
                p {
                    color:blue;
                    float: right;
                }
                ion-label {
                    float: left;
                    border-bottom: 1px blue solid;
                }
            }
        }
    }
}
.vertical-center {
    display: flex;
    text-align: center;
    align-items: center;
}
 p{text-align: center;}

ion-item{} .L{}

ion-toolbar{--background:  blue;} ion-title {text-align: center; color: white;}


    