<ion-header>
  <ion-toolbar>
    <ion-buttons class="back-btn" slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
    <h3>Consumidor RD</h3> 
    <img src="../assets/images/consumidor-rd4.png">
    <h4 style="text-align: justify;">Es una app orientada y dise&ntilde;ada para que usted pueda expresarse a traves de opioni&oacute;n y rese&ntilde;as de valoraci&oacute;n con estrellas de una forma rapida, segura y simple acerca de su experiencia de sastifaci&oacute;n o insastifaci&oacute;n que haya tenido, tambi&eacute;n le permite ver otras opniones y valoraciones referente a un lugar.</h4>
<h3 style="text-align: center;">Versi&oacute;n de la app</h3>
<h5 style="text-align: center;">Beta</h5>
    </ion-col>
    </ion-row>
</ion-content>
