ion-header,ion-toolbar{
    --background: blue;
    ion-back-button {
        left: 0;
        top: 2px;
        position: absolute;
        color: white;
    }
    ion-title {
        text-align: center;
        color: white;
    }
}
ion-content {

    .inputs-div {
        width: 80%;
        margin-left: 10%;
        margin-top: 15%;
        ion-input {
            color:r;
            border-bottom: blue 1px solid;
            margin-top: 10%;
        }
    }
    .bottom-button{
        width: 80%;
        height: 40px;
        background-color: blue;
        color: white;
        margin-left: 10%;
        margin-top: 15%;
        border-radius: 10px;
    }

.vertical-center {
    display: flex;
    text-align: center;
    align-items: center;
}}