ion-header,ion-toolbar{
    --background: blue;
    ion-title {
        text-align: center;
        color: white;
    }
}




ion-content {

    ion-searchbar {
        --border-radius: 1.2rem;
        --placeholder-font-weight: 600;
        --placeholder-opacity: 0.8;
        padding: 5;
        margin-bottom: 2rem;
       
      }


    
   ion-list{
       ion-item{
           margin: 0;
           ion-avatar{
               img{

               }
           }p{
               border-bottom: 1px solid lightgrey;
               padding-bottom: 5px;
               width: 100%;
               span{
                   color: lightgrey;
                   font-size: 12px;
                   padding: 2px 0 2px 0;
                   text-overflow: hidden;
                   overflow: hidden;
               }
               #comp{
                   font-size: 14px;
                   color: var(--ion-color-dark) !important;
               }
           }
       }
   }
}
.vertical-center {
    display: flex;
    text-align: center;
    align-items: center;
}